
<script type="text/x-red" data-template-name="yamaha-avr-control">
  <div class="form-row">
    <label for="node-input-receiver"><i class="fa fa-server"></i> Receiver</label>
    <input type="text" id="node-input-receiver" placeholder="Receiver">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-tips" style="margin-top:5px margin-bottom:5px">
      <b>Tip:</b> Send a <code>msg.payload: {command: "[command]"}</code> 
        to get details of a command or <code>msg.payload: {command: "all"}</code>
        to get a list of all the commands.
  </div>
</script>

<script type="text/html" data-help-name="yamaha-avr-control">
  <p>
    Send control commands to a Yamaha AV Receiver supporting the
    Yamaha Extended Control API.
  </p>
  <p>
    The node implements a basic set of most frequently used commands, but also 
    supports sending any Yamaha Extended Control API command (see <b>Advanced Commands</b> below).
  </p>
  <h3>Setup</h3>
  <p>
    Select a previously configured receiver and name. Commands can then be sent
    using a combination of <code>msg.payload</code> & <code>msg.topic</code>.
  </p>
  <h3>Basic Commands</h3>
  <p>
    The most often used AV Receiver control commands can be performed using a
    simple <code>msg.payload</code> object containing one, or multipe of the
    options below.<br>
    In all the basic commands the Zone defaults to <code>main</code> unless 
    specified in the <code>msg.topic</code>. Send a GetFeature Status message
    using the Yamaha AVR Status node to get a list of zones supported by
    your receiver. Examples are; 'main', 'zone2', 'zone3'
  </p>
  <dl class="message-properties">
    <dt>Power Control<span class="property-type">string</span></dt>
    <dd>
        Control a zone's power by sending a message containing 'on', standby'
        or 'toggle' e.g.
        <pre>{power: "on"} or 
{power: "standby"}</pre>
    </dd>
    <dt>Volume Control<span class="property-type">integer/string</span></dt>
    <dd>
        Control a zone's volume by sending a message containing a number, or
        with later receivers you have the option of sending an 'up' or 'down'
        message e.g.
        <pre>{volume: 100} or 
{volume: "up"}</pre>
        If using 'up'/'down' messages then you can also include an optional
        <code>step</code> property to override the defaults e.g.
        <pre>{volume: "up", step: 5}</pre>
    </dd>
    <dt>Mute<span class="property-type">boolean</span></dt>
    <dd>
        Mute or un-mute a zone by sending a message containing <code>on</code> or 
        <code>off</code> e.g.
        <pre>{mute: "on"} or 
{mute: "off"}</pre>
    </dd>
    <dt>Sleep Control<span class="property-type">integer</span></dt>
    <dd>
        Control how many minutes before the receiver puts a zone to sleep by 
        sending a message containing one of; 0, 30, 60, 90 or 120 e.g.
        <pre>{sleep: 30} or 
{sleep: 120}</pre>
    </dd>
    <dt>Input Control<span class="property-type">string</span></dt>
      <dd>
        Change the zone's input. Send a GetFeature Status message
        using the Yamaha AVR Status node to get a list of inputs supported by
        your receiver. Examples are:
<pre>{input: "av1"} or 
{input: "tuner"} or 
{input: "audio1"}</pre>
      </dd>
    <dt>Sound Program Control<span class="property-type">string</span></dt>
    <dd>
        Change the zone's sound program. Send a GetFeature Status message
        using the Yamaha AVR Status node to get a list of sound programs supported by
        your receiver. Examples are:
<pre>{soundProgram: "surr_decoder"} or 
{soundProgram: "2ch_stereo"}</pre>
    </dd>
  </dl>
  <h3>Advanced Commands</h3>
  <p>
    The node supports the ability to send <i>any</i> API command to the receiver. 
    This is done by adding a 'command' property to the payload and then 
    encapsulating the API command within this property. The node will then send 
    the command directly to the receiver and output the response. Example:
<pre>{
  command: {
    controller: "system",
    command: "setHdmiOut1",
    params: { enable: true }
  }
}</pre>
  </p>
  <h3>Multiple Requests</h3>
  <p>
    Multiple commmands can be sent in a single message payload e.g.
    <pre>{
  power: "on",
  volume: 100,
  input: "av1",
  soundProgram: "enhancer",
  command: {
    controller: "system",
    command: "setAirPlayPin",
    params: {pin: "0000"}
  }
}</pre>
    When sending multiple requests each command request will result in a seperate
    output message from the node.
    Check the <code>msg.request</code> property of the output message to
    determine the command each output message relates to.
    <b>NOTE:</b> Only a single command of each type can be sent in a multiple request
  </p>
  <h3>Command Help</h3>
  <p>
    A help message be sent to the node to get help on the format of the API
    commands supported. To get help on a specific API command send <pre>{help: "setVolume"}</pre>
     or to get a full list of supported commands send <pre>{help: "all"}</pre>
  </p>
  </script>

<script type="text/javascript">
  RED.nodes.registerType('yamaha-avr-control',{
    category: 'Home Cinema',
    color: '#E9967A',
    defaults: {
        receiver: {value:"", type:"yamaha-avr"},
        name: {value:""}
    },
    inputs:1,
    outputs:1,
    inputLabels: ['receiver command'],
    icon: "yamaha-avr-music.png",
    paletteLabel: 'Yamaha AVR Control',
    label: function() {
        return this.name || 'Yamaha AVR Control';
    },
    labelStyle: function() {
      return this.name ? 'node_label_italic' : '';
    }
  });
</script>

