<script type="text/x-red" data-template-name="yamaha-avr">
  <div class="form-row">
    <label for="node-config-input-name"><i class="icon-tag"></i> Name:</label>
    <input type="text" id="node-config-input-name">
  </div>
  <div class="form-row">
    <label for="node-config-input-host"><i class="fa fa-server"></i> Receiver IP:</label>
    <input type="text" placeholder="192.168.0.100" id="node-config-input-host">
  </div>
  <div class="form-row">
    <label for="node-config-input-apiVers"><i class="fa fa-code-fork"></i> API Version:</label>
    <input type="text" placeholder="v1" id="node-config-input-apiVers style="width:20%"">
  </div>
  <div class="form-row">
    <label for="node-config-input-port"><i class="fa fa-sign-out"></i> UDP Port:</label>
    <input type="text" placeholder="41100" id="node-config-input-port" style="width:30%">
  </div>
</script>

<script type="text/x-red" data-help-name="yamaha-avr">
  <p>
    A configuration node holding the information necessary to manage the Yamaha AV Receiver with the following parameters:
  </p>
  <h3>Receiver IP</h3>
  <p>
    Enter the IP address or fully qualified domain name for the Yamaha AV Receiver.
  </p>
  <h3>API Version</h3>
  <p>
    The API version used for all API requests (leave blank for the default 
    version available at release of the node software). You wouldn't normally 
    need to change this value, but it is available for potential future support.
  </p>
  <h3>UDP Port</h3>
  <p>
    The UDP port for listening to events emitted from the receiver (leave blank
    for the default port of 41100 used by Yamaha Multicast applications). Some
    older receivers use a different port, so the option is available to change, 
    but beware, any Yamaha Multicast software used on your network will revert
    this port to 41100.
  </p>
</script>

<script type="text/javascript">
const expression = /((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))|(^\s*((?=.{1,255}$)(?=.*[A-Za-z].*)[0-9A-Za-z](?:(?:[0-9A-Za-z]|\b-){0,61}[0-9A-Za-z])?(?:\.[0-9A-Za-z](?:(?:[0-9A-Za-z]|\b-){0,61}[0-9A-Za-z])?)*)\s*$)/;

  RED.nodes.registerType('yamaha-avr',{
    category: 'config',
    color: '#E9967A',
    defaults: {
      name: {value: ''},
      host: {value:'', required:true, validate:RED.validators.regex(expression)},
      apiVers: {value:'', required:false},
      port: {value:'', required:false, validate:function(p) { return !isNaN(p);}}
    },
    icon: 'yamaha-avr-music.png',
    paletteLabel: 'Yamaha AVR Config',
    label: function() {
      return this.name || this.host || 'Yamaha AVR Server';
    },
    labelStyle: function() {
      return this.name ? 'node_label_italic' : '';
    }
  });
</script>
