<script type="text/x-red" data-template-name="yamaha-avr-status">
  <div class="form-row">
    <label for="node-input-receiver"><i class="fa fa-server"></i> Receiver</label>
    <input type="text" id="node-input-receiver" placeholder="Receiver">
  </div>
  <div class="form-row">
    <label for="node-input-controller"><i class="fa fa-sitemap" aria-hidden="true"></i> Function</label>
    <select id="node-input-controller" style="width: 61%;"></select>
  </div>
  <div class="form-row" id="node-input-command-row">
    <label for="node-input-command"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Request</label>
    <select id="node-input-command" style="width: 61%;"></select>
  </div>
  <div class="form-row">
    <label for="node-input-parameters"><i class="fa fa-envelope"></i> Parameters</label>
    <input type="text" id="node-input-parameters" placeholder="Parameters">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-tips" style="margin-top:5px margin-bottom:5px">
      <b>Tip:</b> Some status requests require <code>parameters</code>. 
      Enter <code>JSON</code> string in <b>Parameters</b> e.g. <code>{"band": "dab"}</code>.
  </div>
</script>

<script type="text/x-red" data-help-name="yamaha-avr-status">
  <p>
    Retrieve status information from a Yamaha AV Receiver supporting the
    Yamaha Extended Control API.
  </p>
  <p>
    The node presents all of the currently defined status API calls grouped by
    function e.g. System information, Zone information, Tuner information etc. 
    After selecting a function you are presented with a list of status requests
    supported by the function.
  </p>
  <h3>Setup</h3>
  <p>
    Select a previously configured receiver, select a function, select 
    a status request to send to the reciever and enter parameters if the request
    requires them. Type in a name or keep the default.
    Selecting a function of <code>msg.payload</code> uses the input message
    <code>payload</code>.
  </p>

  <h4>Parameters</h4>
  <p>If a request requires additonal parameters to return the correct information
    then the <code>Parameters</code> field can be used to enter those parameters.
    The field should contain a valid JSON string e.g. <code>{"zone": "main"}</code>
  </p>
  <h3>Using your own payload</h3>
  <p>Set the function to <code>msg.payload</code> to send your own status request to the receiver.</p>
  <dl class="message-properties">
    <dt>msg.payload<span class="property-type">string</span></dt>
    <dd>
      Will send a request to the endpoint specified in the payload. The message
      must contain the function and the request e.g. <code>system/getDeviceInfo</code>
    </dd>
  </dl>
  <h3>Functions</h3>
  <p>
    The receiver API has different controllers for the seperate functions. 
    Examples of functions include; System, Main, Zone2, Tuner etc. Each function
    has it's own set of status requests. The Request dropdown list will be populated
    with only those requests supported by the function.
  </p>
  <h3>Output</h3>
  <p>
    The <code>msg.payload</code> will contain a JSON formatted object as returned
    from the receiver request response. The content of which can be manipulated
    using a chained Change, Function or other node.
  </p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('yamaha-avr-status', {
    category: 'Home Cinema',
    color: '#E9967A',
    defaults: {
        receiver: {value:'', type:'yamaha-avr'},
        name: {value:''},
        controller: {value:'msg.payload', required:true},
        command: {value:'', required:false},
        parameters: {value:'', required:false, validate:function(p) {
          if (p !== "") {
            try { JSON.parse(p); }
            catch (e) { return false; } 
          }
          return true;}
        }
    },
    inputs:1,
    outputs:1,
    icon: 'yamaha-avr-music.png',
    paletteLabel: 'Yamaha AVR Status',
    label: function() {
      return this.name || 'Yamaha AVR Status';
    },
    labelStyle: function() {
      return this.name ? 'node_label_italic' : '';
    },
    oneditprepare: function() {
      const node = this;

      // Get zones if the receiver changes
      $("#node-input-receiver").change(function() {
        let receiver = $('#node-input-receiver option:selected').val();
        // Exit if the a receiver hasn't been seleced yet
        if (receiver === '_ADD_') return;
        // Exit if we have already retrieved the controller functions
        if (receiver === node.receiver && $('#node-input-controller option').length > 0) return;
        receiver = RED.nodes.node(receiver);

        // Retrieve a list of available zones
        $.getJSON('/yamaha-avr/controllers')
        .done(function(data) {
          const receiverFunctions = data;
          // console.log('Controllers: ' + data);

          // Hide the request commands until a function is selected
          $('#node-input-command-row').hide();
          // The first entry should always be 'msg.payload'
          $('#node-input-controller').empty();
          $('#node-input-controller').append($("<option></option>").val('msg.payload').text('msg.payload'));
          receiverFunctions.forEach(function(key) {
            $('#node-input-controller').append($("<option></option>").val(key.value).text(key.name));
          });
          // If we have previously chosen a function then make it the selected one
          $('#node-input-controller').find("option").filter(function() {
            return $(this).val() == node.controller;
          }).attr('selected', true);
          $('#node-input-controller').change();
        })
        .fail(function() {
          RED.notify('Failed to get functions from receiver')
        });
      });

      // The controller function has changed so provide a list of requests
      $("#node-input-controller").change(function() {
        const newController = $('#node-input-controller option:selected').val();

        // Nothing to do if the controller hasn't changed or doesn't exist
        if (!newController || newController == this.controller) return;
        console.debug('Controller change to: ' + newController + ' from: ' + this.controller);

        if (newController == 'msg.payload') {
          // Hide the command selector if using msg.payload
          $('#node-input-command-row').hide();
        } else {
  
          // Get a list of command requests for this controller function
          $.getJSON('/yamaha-avr/commands', {controller: newController, type: 'status'})
          .done(function(data) {
            const commandList = data;

            let selectedField = $('#node-input-command');
            // RESET OPTIONS
            selectedField.empty();

            // SET FUNCTIONS AS OPTIONS
            commandList.forEach(function(cmd) {
              selectedField.append($('<option></option>').val(cmd.value).text(cmd.name));
            });

            // Set current value. Default to first entry if old value not found
            let currentOption = selectedField.find('option').filter(function() {
              return $(this).val() == node.command;
            }).attr('selected', true);
            if (currentOption.length == 0) {
              selectedField.find('option').eq(0).attr('selected', true);              
            }

            console.debug('Setting Command to: ' + selectedField.val());
            // Tell the browser we have changed
            selectedField.change();
          })
          .fail(function() {
            RED.notify('Failed to get commands from receiver')
          });
          // Show the command requests now we have selected one
          $('#node-input-command-row').show();
        }
      });

      // Change the name of the node to the selected command request
      // Only change it if it is empty or has previosuly been set automatically
      // If it has been set manually then we must leave it alone
      $("#node-input-command").change(function() {
        // Exit if nothing has been loaded into commands
        if ($('#node-input-command option').length == 0) return;

        if ($('#node-input-name').val() == '' || $('#node-input-name').text() == 'auto') {
          $('#node-input-name').val($('#node-input-command option:selected').text()).text('auto');
        }
      });

      // Handle name changes
      $('#node-input-name').change(function() {
        if ($('#node-input-name').text() == 'auto' 
            && $('#node-input-command option:selected').text() != $('#node-input-name').val()) {
          $('#node-input-name').text('manual');
        }
      });
    }
  });
</script>
