<script type="text/x-red" data-template-name="yamaha-avr-listener">
  <div class="form-row">
    <label for="node-input-receiver"><i class="fa fa-server"></i> Receiver</label>
    <input type="text" id="node-input-receiver" placeholder="Receiver">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-zone"><i class="fa fa-sitemap" aria-hidden="true"></i> Zone</label>
    <select id="node-input-zone" style="width: 61%;"></select>
  </div>
  <hr align="middle"/>
  <div class="form-row">
    <label for="node-input-unprocessed"><i class="fa fa-random"></i> Events</label>
    <label for="node-input-unprocessed" style="width:70%">
        <input type="checkbox" id="node-input-unprocessed" style="display:inline-block; width:22px; vertical-align:baseline;">Output unprocessed events
    </label>
    <div class ="form-row" id="node-input-events">
        <label for="node-input-power"></label>
        <label for="node-input-power" style="width:70%">
            <input type="checkbox" id="node-input-power" style="display:inline-block; width:22px; vertical-align:baseline;">Power
        </label>
        <label for="node-input-avinput"></label>
        <label for="node-input-avinput" style="width:70%">
            <input type="checkbox" id="node-input-avinput" style="display:inline-block; width:22px; vertical-align:baseline;">AV Input
        </label>
        <label for="node-input-volume"></label>
        <label for="node-input-volume" style="width:70%">
            <input type="checkbox" id="node-input-volume" style="display:inline-block; width:22px; vertical-align:baseline;">Volume
        </label>
    </div>
  </div>
  <div class="form-tips" style="margin-top:5px margin-bottom:5px">
    <b>Tip:</b> Select the events you want messages from, or output unprocessed events to see everything the receiver emits 
  </div>
  </script>

<script type="text/x-red" data-help-name="yamaha-avr-listener">
  <p>
    Listen for Yamaha AV Receiver UDP events using the
    Yamaha Extended Control API.
  </p>
  <p>
    The node requests the configured AV receiver to send broadcast UDP events on 
    a predefined port (normally the MusicCast port: 41100). Events are then turned 
    into messages and output. The user can configure the messages they are interested 
    in or request that the message be output unprocessed.
  </p>
  <h3>Setup</h3>
  <p>
    Select a previously configured receiver, select a zone and either select unprocessed 
    events or select from the list event types supported. Events are output in <code>msg.payload</code>.
    Unless specified, the node name will automatically be assigned a name of 
    "AV Receiver Model Name: <zone>" e.g. "RX-A3070: zone2"
  <h3>Unprocessed Events</h3>
  <p>
    Selecting the <code>Output unprocessed events</code> checkbox results in the node 
    outputting any events from the receiver in the format that the receiver transmits them.
    The events are self explanitory, but refer to the Yamaha Extended Control API documentation 
    for details. 
  </p>
  <h3>Processed Events</h3>
  <p>
    The node can take the events arriving from the receiver and process them against
    some criteria e.g. Power, Volume etc.<br>
    Select one of the following:
  </p>
  <dl class="message-properties">
    <dt>Power<span class="property-type">boolean</span></dt>
    <dd>
      Power events are output in the form:
      <pre>msg.payload = {power: "on"} or {power: "standby"}</pre>
    </dd>
    <dt>AV Input<span class="property-type">boolean</span></dt>
    <dd>
      AV Input events are output in the form:
      <pre>msg.payload = {input: "av1"} or {input: "audio1"}</pre>
    </dd>
    <dt>Volume<span class="property-type">boolean</span></dt>
    <dd>
      Volume events are output in the form:
      <pre>msg.payload = {volume: 102} or {volume: 95}</pre>
    </dd>
  </dl>
  <p>
    If multiple events are selected then they are output as a single message
    if they are recieved in a single event e.g. 
  </p>
  <pre>msg.payload = {power: "on", volume: 100}</pre>
</script>

<script type="text/javascript">
  RED.nodes.registerType('yamaha-avr-listener', {
    category: 'Home Cinema',
    color: '#E9967A',
    defaults: {
        receiver: {value:'', type:'yamaha-avr'},
        name: {value:'Yamaha AVR Listener'},
        zone: {value: '', required: true},
        unprocessed: {value: false},
        power: {value: true},
        avinput: {value: false},
        volume: {value: false}
    },
    inputs:0,
    outputs:1,
    outputLabels: ['receiver events'],
    icon: 'yamaha-avr-receiver.png',
    paletteLabel: 'Yamaha AVR Listener',
    label: function() {
      if (this.deviceInfo && (this.name.startsWith('Yamaha AVR Listener') || this.name.startsWith(this.deviceInfo.model_name))) {
        const postfix = this.unprocessed ? 'all' : this.zone;
        this.name = this.deviceInfo.model_name + ': ' + postfix;
      }
      return this.name || 'Yamaha AVR Listener';        
    },
    labelStyle: function() {
      return this.name ? 'node_label_italic' : '';
    },
    // button: {
    //   toggle: 'active',
    //   onclick: function() {
    //     console.log('Button pressed');
    //   }
    // },
    oneditprepare: function() {
      const node = this;

      // Get new device information & zones if the receiver changes
      $("#node-input-receiver").change(function() {
        let receiver = $('#node-input-receiver option:selected').val();
        // Exit if the a receiver hasn't been seleced yet
        if (receiver === '_ADD_') return;
        // Exit if we have already retrieved the controller functions
        if (receiver === node.receiver 
            && $('#node-input-zone option').length > 0
            && $('#node-input-zone').find('option').eq(0).val() !== 'fail') return;
        receiver = RED.nodes.node(receiver);

        const color = $('#node-input-zone').css('color');
        // Request the information from the receiver
        $('#node-input-zone').empty();
        $('#node-input-zone').css('color', 'gray');
        $('#node-input-zone').append($('<option></option>').val(null).text('Requesting zones from receiver...'));
        // $('#node-input-zone').change();
        $.getJSON('yamaha-avr/deviceInfo', {host: receiver.host})
        .then((data) => {
          node.deviceInfo = data;
          // console.debug('Got deviceInfo');
          // Chain the getZones request
          return $.getJSON('/yamaha-avr/zones', {host: receiver.host});
        })
        .then((data) => {
          // Add the zones to a dropdown list
          $('#node-input-zone').empty();
          data.forEach(zone => {
            $('#node-input-zone').append($('<option></option>').val(zone.value).text(zone.name));
          });
          // Set either the first in the list or the last selected
          let currentOption = $('#node-input-zone').find("option").filter(function() {
                return $(this).val() == node.zone;
              }).attr('selected', true);
          if (currentOption.length == 0) {
            $('#node-input-zone').find('option').eq(0).attr('selected', true);
          }
          $('#node-input-zone').css('color', color);
          // console.debug('Got zones');
          $('#node-input-zone').change();
        })
        .fail(() => {
          $('#node-input-zone').empty();
          $('#node-input-zone').append($('<option></option>').val('fail').text('Receiver failed to respond'));
          $('#node-input-zone').css('color', color);
          $('#node-input-zone').change();
          RED.notify('Failed to get zones from receiver')
        })
      });

      // Show or hide the processed events based on whether 'unprocessed' is checked
      $('#node-input-unprocessed').change(function() {
        if (this.checked) {
          $('#node-input-events').hide();
        } else {
          $('#node-input-events').show();
        }
      });
    }
  });
</script>
